/* Font preload links should be added in HTML head - see HTML section */

@font-face {
  font-family: Roboto;
  src: url("../assets/Fonts/Roboto-Regular.ttf") format("truetype");
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: Roboto-Bold;
  src: url("../assets/Fonts/Roboto-Bold.ttf") format("truetype");
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: Roboto-Medium;
  src: url("../assets/Fonts/Roboto-Medium.ttf") format("truetype");
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: Satoshi-bold;
  src: url("../assets/Fonts/Satoshi-Bold.ttf") format("truetype");
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: Satoshi-Medium;
  src: url("../assets/Fonts/Satoshi-Medium.ttf") format("truetype");
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: Arial;
  src: url("../assets/Fonts/Arial.ttf") format("truetype");
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: Arial-Bold;
  src: url("../assets/Fonts/Arial-bold.ttf") format("truetype");
  font-display: swap;
  font-weight: 700;
}


@font-face {
  font-family: Arial-Bold-Italic;
  src: url("../assets/Fonts/Arial-Bold-Italic.ttf") format("truetype");
  font-display: swap;
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: Arial-Black;
  src: url("../assets/Fonts/Arial-Black.ttf") format("truetype");
  font-display: swap;
  font-weight: 900;
}


@font-face {
  font-family: Satoshi-Black;
  src: url("../assets/Fonts/Satoshi-Black.ttf") format("truetype");
  font-display: swap;
  font-weight: 900;
}

@font-face {
  font-family: Inter;
  src: url("../assets/Fonts/Inter-Regular.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: Inter-Semi-bold;
  src: url("../assets/Fonts/Inter-SemiBold.woff2") format("woff2");
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: Inter-Bold;
  src: url("../assets/Fonts/Inter-Bold.ttf") format("truetype");
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: Gambetta-VariableItalic;
  src: url("../assets/Fonts/Gambetta-VariableItalic.ttf") format("truetype");
  font-display: swap;
  font-style: italic;
}

/* Rest of your CSS remains the same */
body,
a,
p,
div,
button,
span,
input {
  font-family: Roboto;
}

.italic {
  font-family: Arial-Bold-Italic;
}

body {
  overflow-x: hidden;
  background-color: #F3F1F1 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto-Bold;
}

.prim-col {
  background: -webkit-linear-gradient(180deg, #0A5941, #0A5941);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-bg {
  background-color: #0A5840 !important;
}

.sec-col {
  color: #0A5840;
}

.prim-but {
  background: #0A5840;
  border-radius: 30px !important;
  border: 3px solid #0A5840 !important;
  font-size: 1.118em !important;
  padding: 10px 25px !important;
  text-decoration: none;
  transition: ease 0.3s;
  color: #fff !important;
  font-weight: 400 !important;
  font-family: Inter-Semi-bold;
}

.prim-txt2 {
  font-family: Inter;
}

.prim-but-2 {
  background-color: #fff !important;
  border-radius: 30px !important;
  border: 1px solid #fff !important;
  color: #0A5840 !important;
  padding: 10px 20px !important;
  transition: ease 0.3s;
}

.sec-but {
  background: transparent !important;
  padding: 10px 25px !important;
  border-radius: 30px !important;
  border: 0 !important;
  font-size: 1.118em !important;
  color: #0A5840 !important;
  border: 2px solid #0A5840 !important;
  font-weight: 400 !important;
  transition: ease 0.3s;
}

.sec-but2 {
  background: transparent !important;
  padding: 10px 25px !important;
  border-radius: 30px !important;
  border: 0 !important;
  font-size: 1.118em !important;
  color: #fff !important;
  border: 2px solid #fff !important;
  font-weight: 400 !important;
  transition: ease 0.3s;
}

.prim-but:hover,
.prim-but-2:hover,
.sec-but:hover {
  transform: scale(1.05) !important;
}

.prim-txt {
  background: -webkit-linear-gradient(180deg, #3EA8E0, #1083e0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: transparent !important;
  border-radius: 5px !important;
  font-size: 1.118em;
  padding: 5px 20px !important;
  border: 0 !important;
  text-decoration: none;
  transform: scale(1.05);
}

.sec-txt {
  color: #BCBAC3 !important;
}

.sec-bg {
  background-color: #F3F1F1;
}

.modal .modal-header {
  border: none;
}

.modal .btn-close:focus {
  box-shadow: none;
}

.MuiFormControl-root .Mui-focused {
  color: #79747E !important;
}

.Mui-focused .MuiOutlinedInput-notchedOutline {
  border: #79747E solid 1px !important;
}

.MuiInputBase-input {
  color: #1C1B1F !important;
}

.loader {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader svg {
  height: 400px !important;
  width: auto !important;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}