.rev-res {
  position: relative;

}


.rev-res .tilted-card-img {
  padding: 40px;
  transition: ease 0.3s;
  height: auto;
}


.rev-res .tilted-card-img {
  transform: scale(1.03);

}


.rev-res .col-lg-9 img {
  box-shadow: inset 1px -2px 45px 44px #fff;
}



.rev-res .col-lg-9 img {
  height: 35px;
  width: 100%;
  object-fit: contain;
  transition: ease 0.3s;
}


.rev-res .col-lg-9 img:hover {
  transform: scale(1.05);
}

.rev-res .col-lg-9,
.rev-res .col-lg-3 {
  text-align: center;
  text-align: center;
  background: #fff;
  padding: 35px 20px;
}



.rev-res .col-lg-3 p {
  font-size: 28px;
  margin-bottom: 0;
  line-height: 32px;
  color: #5C5C5C;
  font-family: Arial;
  font-weight: 600;
}

.rev-res .col-lg-3 {
  border-right: #0A5941 solid 1px;
}

.rev-res p {
  font-family: var(--font-inter);
  font-size: 16px;
  color: #414141;

}

.rev-res .resp img {
  width: auto !important;
  height: 40px;
}

.rev-res .resp {
  -webkit-box-shadow: inset 14px -48px 78px 37px rgba(255, 255, 255, 1);
  -moz-box-shadow: inset 14px -48px 78px 37px rgba(255, 255, 255, 1);
  box-shadow: inset 14px -48px 78px 37px rgba(255, 255, 255, 1);
}


.rev-res .rev-res-bg {
  border-radius: 20px;
  background: #fff;
  height: 100%;
  padding: 20px;
}




.rev-res .resp {
  background: #fff;
  border-radius: 20px;
}

.rev-res .resp h1,
.rev-res .resp .short {
  text-align: center;
  margin-bottom: 20px;
  color: #5C5C5C;
  font-family: Arial;
  font-weight: 600;
}

.rev-res .resp hr {
  background: #0A5941;
  height: 2px;
  width: 30%;
  margin: auto;
  opacity: 1;
}

.rev-res .bg-image {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  /* background: #F2F3F5; */
}

.rev-res .bg-image img {
  width: 100%;
  padding: 50px;
}



.rev-res h5 {
  font-family: Satoshi-bold;
  text-transform: capitalize;
}



.rev-res h2 {
  font-family: Arial;
  font-weight: 600;
}

.rev-res .lottie {
  width: 40%;
}

.rev-res a,
.rev-bg button {
  font-family: var(--font-inter);
  font-size: 15px !important;
  z-index: 2;
  line-height: inherit;
  transition: ease 0.3s !important;

}

.rev-res a {
  box-shadow: 0 0 5px 0 #cccc;
  text-decoration: none;
  padding: 15px 20px 14px 20px !important;
  transition: ease 0.3s !important;
}

.rev-res a:hover {
  transform: scale(1.05) !important;
}

.rev-res .prim-but svg {
  margin-left: 15px;
  margin-bottom: 2px;
}




@media screen and (max-width: 1200px) and (min-width: 990px) {
  .rev-res .rev-res-bg h1 {
    font-size: 50px;
  }
}


@media screen and (min-width: 991px) {
  .rev-res h2 {
    padding-top: 10px;
    font-size: 60px;

  }

  .rev-res .resp {
    display: none;
  }

  .package-faq h2 {
    font-size: 52px !important;
  }

  .rev-res .container {
    padding: 45px 0;
  }

  .rev-res .col-lg-6:first-child {
    padding-right: 0 !important;
    padding-left: 12px !important;

  }

  .rev-res .row .col-lg-6:last-child {
    padding-right: 12px !important;
    padding-right: 12px !important;
  }

  .rev-res .rev-res-bg h1 {
    margin-top: 30px;
    margin-top: 30px;
  }



  .rev-res .row {
    padding-bottom: 15px !important;
  }

  .rev-res .logo {
    padding-bottom: 0 !important;
  }

}

@media screen and (max-width: 1100px) {
  .sec-bg2 .cont-img img {
    width: 100% !important;
    height: auto !important;
  }

}


@media screen and (max-width: 991px) {


  .rev-res .container {
    padding: 20px;
  }

  .view-pack {
    padding: 0 !important;
  }

  .ats-opt {
    padding-top: 5px !important;
  }

  .rev-res .col-lg-5 {
    padding-top: 50px !important;
  }

  .rev-res .row {
    padding-top: 12px !important;
  }

  .view-pack .col-lg-3 {
    margin-bottom: 20px;
  }

  .rev-res .row .col-lg-6:first-child {
    padding-right: 13px !important;
    padding-left: 13px !important;
  }

  .rev-res .slick-initialized .slick-slide {
    text-align: center;
  }

  .rev-res .resp {
    margin: 0 !important;
  }

  .rev-res .row .col-lg-6:last-child {
    padding-left: 13px !important;
    padding-right: 13px !important;
  }

  .rev-res .web-res {
    display: none !important;
  }

}

@media screen and (max-width: 767px) {
  .rev-res h2 {
    font-size: 40px !important;
    padding-top: 20px;
  }

  .how-work h2 span {
    font-size: 40px !important;
  }

  .career-sec .col-lg-6 h2 {
    font-family: Gambetta-VariableItalic;
    color: #0A5941;
    font-size: 45px;
  }

  .career-sec .col-lg-6 h2 span {
    color: #000;
    font-family: Gambetta-VariableItalic;
    font-size: 45px !important;
  }

  .rev-res .short {
    font-size: 40px !important;
    padding-top: 20px;
  }

  .how-work h1 span {
    font-size: 35px !important;
  }

  .package-faq img {
    height: 250px !important;
  }

  .view-pack .gridlay {
    padding: 0 40px !important;
  }

  .view-pack .gridlay h5 {
    padding-top: 0 !important;
    margin-bottom: 0;
    font-size: 16px !important;
  }

  .view-pack .col div {
    min-height: auto !important;
  }

  .rev-res .col-lg-7 h6,
  .career-sec p,
  .career-sec span {
    font-size: 16px !important;
  }

  .package-faq .MuiAccordionSummary-root p {
    font-size: 15px !important;
  }

  .career-sec .col-lg-6 h1,
  .career-sec .col-lg-6 h1 span {
    font-size: 50px !important;
    margin-top: 0 !important;
    padding-top: 0 !important;
  }


  .rev-res .col-lg-5 h6 {
    font-size: 16px !important;
    line-height: 25px;
  }

  .rev-res .lottie {
    width: 50%;
  }

  .rev-res a {
    padding: 10px 20px !important;
    font-size: 16px !important;
  }

  .rev-res .col-lg-2 img {
    height: 30px;
    width: auto;
  }

  .package-faq h2 {
    font-size: 30px !important;
  }

  .view-pack a {
    font-size: 16px !important;
  }

  .how-work .col-lg-6 {
    padding: 15px !important;
  }

  .how-work .row {
    padding: 0 10px !important;
  }

  .how-work svg {
    font-size: 30px !important;
    height: 40px !important;
    width: 40px !important;
  }

  .how-work .col-lg-6 h3 {
    margin-top: 5px !important;
    font-size: 20px !important;
    margin-bottom: 10px !important;
  }
}

/* 
@media screen and (min-width: 767px) {
 
} */

@media screen and (max-width: 500px) {
  .rev-res h2 {
    font-size: 35px !important;
    padding-top: 0;
  }

  .view-pack h2 span,
  .view-pack h2 {
    font-size: 30px !important;
  }

  /* .rev-res-bg div {
    padding-top: 20px !important;
  } */

  .package-faq img {
    height: 200px !important;
  }

  .rev-res .col-lg-2 img {
    height: 25px;
    width: auto;
  }

  .view-pack a {
    font-size: 15px !important;
  }

  .view-pack .col img {
    height: 220px !important;
  }

  .view-pack .gridlay {
    grid-gap: 30px !important;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr)) !important;
  }
}




@media screen and (max-width: 450px) {
  .view-pack .col img {
    height: 180px !important;
  }

  .view-pack .gridlay {
    padding: 0 20px !important;
  }

  .rev-res h1 {
    font-size: 28px !important;
    padding-top: 0;
  }

  .ats-score .ats-graph {
    display: grid !important;
  }

  .how-work h1 span {
    font-size: 28px !important;
  }

  .ats-score .img-fluid {
    max-height: 400px !important;
  }

  .ats-score .ats-meter-value {
    top: 28% !important;
  }
}






.re-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 8px 20px -4px rgb(15 56 113 / 0.12), 0px 2px 4px -1px rgb(15 56 113 / 0.08);
  border-radius: 12px;
}

.file-upload {
  width: 400px;
  height: 200px;
  border: 2px dashed #ccc;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  background-color: #fff;
  cursor: pointer;
}

.file-input {
  display: none;
}

.file-upload-message {
  text-align: center;
  color: #888;
  font-size: 16px;
}

.upload-button {
  width: 200px;
  height: 40px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.upload-button:hover {
  background-color: #0056b3;
}





.view-pack ul {
  padding-left: 1rem;
}

.view-pack ul li {
  margin-top: 20px;
}

.view-pack h2 {
  font-family: Arial;
  font-weight: 600;
  font-size: 52px;
}

.view-pack {
  /* background-image: url("../../../assets/Images/Home/view-pack.svg");
  background-size: cover;
  background-repeat: no-repeat; */
  background: #fff;
  border-radius: 20px;
}

.view-pack .gridlay {
  grid-gap: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  padding: 0 70px;
}


.view-pack h2 span {
  /* color: #0A5941; */
  font-weight: 600;
  font-family: Arial;
  font-size: 52px;

}

.view-pack .col-lg-4 {
  padding: 0 30px;
}

.view-pack .col div {
  min-height: 390px;
  padding: 5px;
}

.view-pack .col .bord {
  border: #ccc solid 1px;
  border-radius: 20px;
  box-shadow: 0 0 1px 0 #0A5941;
  transition: ease 0.3s;
}



.view-pack .col div:hover {
  transform: scale(1.05);

}

.view-pack .row {
  justify-content: space-around;
}

.view-pack a {
  padding: 14px 28px 14px 28px !important;
  font-family: var(--font-inter);
  font-size: 16px !important;
}




.view-pack .col img {
  width: 100%;
  height: 280px;
  padding: 10px;
  object-fit: contain;
}

.view-pack .col h3 {
  padding: 70px 0 0 0;
  font-family: Satoshi-Medium;
  font-size: 21px;
  text-align: end;
  color: #0A5941;
  z-index: 1;
}

.view-pack p {
  color: #4D4D4D;
  font-family: Satoshi-Medium;
  font-size: 18px;
}


.how-work .head {
  /* font-weight: 700; */
  margin: 15px 0 28px 0;
}

.how-work h2 {
  margin-bottom: 40px;
  padding-bottom: 20px;
}

/* .how-work h1 span {
  color: #42CCB6;
  font-weight: 600;
} */

.how-work h2 span {
  font-family: Satoshi-bold;
  padding: 0 0 20px 0;
  color: #fff !important;
  font-size: 60px;
}

.how-work h5 h2 {
  margin-bottom: 0;
  padding-bottom: 0;
}

.how-work .col-lg-6 h3 {
  color: #000;
  margin-bottom: 18px;
  font-family: Satoshi-bold;
  margin-top: 10px;
  font-size: 20px !important;

}

.how-work .col-lg-6 p {
  font-size: 17px;
  font-family: Satoshi-Medium;
  margin-bottom: 28px !important;
}


.how-work .col-lg-6 {
  background: #fff;
  padding: 30px 30px 30px 30px;
  border-radius: 25px;
  box-shadow: 0 0 5px 0 #ccc;
  text-align: start;
  display: flex;
  margin-bottom: 30px;
  transition: ease 0.3s;
}

.how-work .col-lg-6:hover {
  transform: scale(1.04);
}

.how-work svg {
  /* background: #fff; */
  font-size: 40px;
  padding: 10px;
  border-radius: 15px;
  border: 1.25px solid #B3B3B3;
  margin-right: 20px;
  height: 50px;
  width: 50px;
  transition: ease 0.3s;
}

.how-work svg:hover {
  transform: scale(1.10);
}

.how-work p {
  font-family: var(--font-roboto);
  font-weight: 500;
}

.how-work a {
  color: #0A5941 !important;
  font-family: Satoshi-bold;
  margin-left: 0;
  padding-top: 20px;
}

.how-work span {
  font-family: Satoshi-bold;
  color: #EAE3E3;
  font-size: 24px;
}

@media (min-width: 992px) {
  .how-work .col-lg-6 {
    flex: 0 0 auto;
    width: 47%;
  }
}

.how-work {
  background: #0A5941;
  margin: 10px;
  border-radius: 20px;
}

.how-work .container-fluid {
  background-image: url("../assets/Images/Home/view-pack.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}



.package-faq .MuiAccordion-root {
  border: none;
  /* box-shadow: 0 10px 10px -6px rgb(228, 220, 220); */
  margin-bottom: 14px !important;
  box-shadow: 0px 24.56px 32.74px -14.73px #95959540;

}

.package-faq .MuiAccordionSummary-root {
  height: 100px;

}

.package-faq .any {
  font-size: 32px !important;
    font-family: var(--font-inter) !important;
    font-weight: 700 !important;
}

.package-faq .ques h4 {
  color: #0A5941;
    font-family: var(--font-inter);
    font-weight: 700;
  font-size: 32px;
}

.package-faq .ques p {
  color: #0A5941;
  font-family: var(--font-inter);
  font-weight: 600;
}

.package-faq .MuiAccordionSummary-root p {
  font-family: var(--font-inter);
    font-weight: 600;
  font-size: 18px;
  text-align: left;
  display: flex;
  align-items: center;
  color: #1B1139;
}

/* .package-faq .MuiAccordionSummary-expandIconWrapper{
  transform: rotate(135deg) !important;

} */

.package-faq .MuiAccordionDetails-root {
  text-align: start;
}

.package-faq a {
  padding: 8px 20px !important;
  font-family: var(--font-inter);
  font-size: 15px !important;
}

.package-faq .MuiAccordionSummary-root p svg {
  color: #0A5941;
  margin-right: 20px;
  font-size: 25px;
}

.package-faq .MuiAccordionSummary-expandIconWrapper svg {
  background: #0A5941;
  border-radius: 50%;
  font-size: 24px;
  color: #fff;
  padding: 5px;
}

.package-faq {
  background: #fff;
  border-radius: 20px;
  margin: 0 12px;
}

.package-faq h2 {
  font-family: Arial-Bold;
}

.package-faq h2 span {
  font-family: Roboto-Bold;
  /* font-weight: 600; */
}


.package-faq img {
  width: auto;
  height: 280px;
  margin-left: 40px;
  transition: ease 0.3s;
}

.package-faq img:hover {
  transform: scale(1.05);
}

/* 
.package-faq h1 {
  font-size: 50px;
} */

.package-faq .accordion-button:not(.collapsed) {
  background: #fff !important;
  color: #000 !important;
}

.package-faq .MuiAccordionDetails-root p {
  color: #414141;
  font-family: Roboto;
}

.package-faq .accordion {
  box-shadow: none !important;
}

.package-faq .accordion-header {
  font-family: Satoshi-Regular !important;
}

.second-bg {
  background: linear-gradient(180deg, #5FD1B1 -316.36%, #42CCB6 420.91%);
  /* border-radius: 20px; */
}





.career-sec .container-fluid {
  padding: 0 12px;
}

.career-sec .col-lg-6 .career {
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  height: 100%;
}

.career-sec .col-lg-6 .career img {
  transition: ease 0.3s;
}


.career-sec .col-lg-6 .career img:hover {
  transform: scale(1.02);
}


@media (max-width: 992px) {

  .career-sec .col-lg-6 {
    margin-top: 20px;
  }

  .ats-score .col-lg-6,
  .ats-score .col-lg-5 {
    padding: 0;
  }

  .ats-score .row {
    margin-top: 10px !important;
  }

  .ats-score .col-lg-6 h1 {
    /* font-size: 30px !important; */
    margin-top: 0 !important;
    padding-top: 0 !important;
  }

  .ats-score .row .col-lg-6:nth-child(2) {
    margin-top: 20px;
  }

  .ats-score .col-lg-8 .lottie {
    width: 100%;
    height: 100%;
  }

}


.career-sec p {
  font-family: Inter;
  font-weight: 500;
  font-size: 20px;
  color: #464948;

}

@media (min-width: 992px) {
  .career-sec .career {
    margin: 0 10px 0 0;
  }

  .career-sec .car-txt .career {
    margin: 0 0 0 10px;
  }

  .ats-score .col-lg-8 .lottie {
    width: max-content;
    height: 100%;
  }

  .career-sec .col-lg-6 h2 {
    font-family: Gambetta-VariableItalic;
    color: #0A5941;
    font-size: 68px;
  }

  .career-sec .col-lg-6 h2 span {
    color: #000;
    font-family: Gambetta-VariableItalic;
    font-size: 68px;
  }
}





.career-sec .col-lg-6 .new .char {
  color: #000;
}

.career-sec .career span {
  color: #3D3939B2;
  font-family: var(--font-inter);
  font-weight: 600;
  font-size: 20px;
  /* margin: 10px 0; */
}

.career-sec a {
  font-family: Inter;
  font-size: 17px !important;
  padding: 13px 18px !important;
  transition: ease 0.3s !important;
}


.career-sec .prim-but:hover {
  transform: scale(1.05) !important;
}




.scroll-reveal {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  will-change: opacity, transform;
}

.scroll-reveal.active {
  opacity: 1;
  transform: translateY(0);
}

/* Optional loading indicator styles */
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.5rem;
  color: #333;
}

/* Optional media query for reducing animations on smaller screens */
@media (prefers-reduced-motion: reduce) {
  .scroll-reveal {
    transition: none;
    opacity: 1;
    transform: none;
  }
}




.ats-score .upload,
.ats-score .score {
  background-color: #fff;
  border-radius: 20px;
  padding: 30px;
}

/* .ats-score .upload h4 {

} */

.ats-score .score .tilted-card-inner {
  min-height: 480px;
}

.ats-score .upload p {
  font-family: var(--font-inter);
  font-weight: 600;
  margin: 25px 0;
}

.ats-score .score .tilted-card-img {
  object-fit: contain;
}

/* .ats-score label {
  display: flex;
} */

.ats-score .file-upload-container {
  /* background: #d9d9d951;
  border: #0A5941 dashed 2px; */
  background-image: url("../assets//Images/Home/ats-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 440px;
  /* border-spacing: 10px 5px; */
  /* border-radius: 15px; */
  padding: 15px;
  cursor: pointer;
}

.ats-score .file-upload-container p {
  color: #5b5b5bdf !important;
}

.ats-score .file-drop-area,
.ats-score .file-upload-container label {
  cursor: pointer;
}

/* .file-upload-container label {
  position: absolute;
  top: 0;
} */

.ats-score .file-upload-container svg {
  height: 70px;
  width: auto;
  color: #0A5941;
  margin-right: 30px;
}

.ats-score .file-upload-container p {
  font-size: 18px;
}

.ats-score .ats-graph {
  display: grid;
}

.ats-score .ats-meter-value {
  left: 191px !important;
}

.ats-score .edit {
  width: max-content;
}

.ats-data-accordion .bg {
  background: #0000002f;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  opacity: 0;
}

.ats-score .edit .bg {
  background: #0000002f;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.ats-data-accordion {
  position: relative;
}

.ats-data-accordion .prim-but {
  max-height: 45px;
  margin: auto;
  line-height: normal;
  font-size: 16px !important;
}


.ats-data-accordion .bg:hover {
  opacity: 1;
}

.ats-score .edit .prim-but {
  position: absolute;
  bottom: 20px;
  left: auto;
  right: auto;
  display: table;
  font-size: 16px !important;
}

.ats-score label {
  display: flex;
  align-items: center;
}


@media (min-width: 767px) {
  .ats-score .upload h1 {
    font-size: 45px !important;

  }
}

@media (max-width: 550px) {
  .ats-score .upload p {
    font-size: 15px !important;
  }

  .ats-score .upload svg {
    height: 55px !important;
    margin-right: 20px !important;
  }
}


@media (max-width: 450px) {
  .ats-score .upload p {
    font-size: 14px !important;
  }

  .ats-score .upload svg {
    height: 50px !important;
    margin-right: 20px !important;
  }

}


@media (max-width: 350px) {
  .ats-score .upload p {
    font-size: 13px !important;
  }

  .ats-score .upload svg {
    height: 40px !important;
    margin-right: 10px !important;
  }

}

@media (max-width: 400px) {
  .ats-score .file-upload-container {
    padding-top: 8px !important;
  }
}

@media (max-width: 500px) {



  .rev-res .col-lg-6:nth-child(2),
  .ats-score .col-lg-6:nth-child(2) {
    display: none !important;
  }

  .ats-score .col-lg-8 {
    padding: 0;
  }

  .ats-score .col-lg-8 p {
    font-size: 16px;
  }

  .ats-score .col-lg-6 .upload {
    padding: 15px;
  }
}

@media (min-width: 1200px) {
  .ats-score .file-upload-container {
    min-width: 420px;
  }
}