.loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full height to center vertically */
    color: white; /* Text color */
}

.sel-tem {
    width: 55.5%;
}

.loader-text {
    font-size: 24px; /* Adjust font size as needed */
    margin-bottom: 10px; /* Space between text and dots */
}

.loader-dots span {
    animation: blink 1s infinite; /* Animation for dots */
    font-size: 20px;
    text-align: center;
}

.loader-dots span svg {
    margin: 0;
}

.loader-dots span:nth-child(1) {
    animation-delay: 0s;
}

.loader-dots span:nth-child(2) {
    animation-delay: 0.2s;
}

.loader-dots span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes blink {
    0%, 20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}